{% extends 'base.html' %}

{% block content %}
{{ content | safe }}

<h1>Electronics projects</h1>

<div class="activities">

  {% for id in electronics_projects -%}
  {%- with p = electronics_projects[id] -%}
  <div id="electronics-project-{{ id }}" class="electronics-project">
    <div>
      <h3>{{ p.name }}</h3>
      <p class="activity-stats">
        <span class="badge">{{ p.cost }} |  ⚡️&nbsp;{{ p.electrical }} | 🪛&nbsp;{{ p.mechanical }}
      </span>
      <p>{{ p.description }}</p>
    </div>
  </div>
  {%- endwith -%}
  {%- endfor %}

</div>
<!--
<div class="heading" id=feedback>

  <h1>Gallery</h1>

</div>
<div class=summary>

  <p>Here’s the sort of thing people have made in the past!

</div>
<div class="row row-gallery">

</div>
-->

{% endblock %}
